.explore-challenges {
    font-family: "Poppins";
  }
  
  .explore {
    background-color: rgba(0, 42, 59, 1);
    padding: 30px 100px;
    height: 300px;
  }
  
  .explore-heading {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .filter-section {
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
  }
  
  .filter-input-field {
    padding: 10px 20px;
    font-family: "Poppins";
    border-radius: 10px;
    width: 70%;
  }
  
  .filters {
    background-color: white;
    border-radius: 10px;
    font-family: "Poppins";
    position: relative;
    width: 150px; 
    cursor: pointer;
  }
  
  .filter-heading {
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    
  }
  
  .filter-list {
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; 
  width: 100%; 
  padding: 10px 20px;
  }
  
  .status-filters,
  .level-filters {
    display: flex;
    flex-direction: column;
  }
  
  .filter-status,
  .filter-level {
    margin: 0;
    font-weight: bold;
  }
  
  .label-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
  }
  
  .filter-tag {
    background-color: grey;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
    text-align: center;
    margin: 10px 15px;
  }
  
  .filter-btn {
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .challenges-list {
    background-color: rgba(0, 49, 69, 1);
    padding: 30px 100px;
  }
  
  .challenges-items-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  hr {
    border: 1px solid grey;
  }
  
  .active-filters {
    display: flex;
    flex-wrap: wrap;
  }
  
  